.white {
    background-color: #f5f5f5;
}

.white-dark {
    background-color: #999999;
}

.pink {
    background-color: #fa8a7e;
}

.pink-dark {
    background-color: #f8504d;
}

.purple {
    background-color: #b483ff;
}

.purple-dark {
    background-color: #7f53c6;
}

.yellow {
    background-color: #fbff86;
}

.yellow-dark {
    background-color: #fbed1a;
}

.green {
    background-color: #b7f6c9;
}

.green-dark {
    background-color: #35eab5;
}

.blue {
    background-color: #7efeff;
}

.blue-dark {
    background-color: #3ea8f6;
}